<!DOCTYPE html>
<html>
<head>
    <title> First Vue Tutorial </title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssnormalize/cssnormalize-min.css"> 
    <link rel="stylesheet" type="text/css" href="assets/style/style.css"> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Poppins&display=swap" rel="stylesheet"> 
</head>
<body> 
    <header class="header">           
        <div class="header__logo"></div>       
        <h1 class="header__title">Mijn to do's: </h1>  
    </header>
    <article class="content">
        <ul class="content__list incomplete">
            <header class="content__header">
                <h2 class="content__header_title"><span>Nog niet gecomplete</span></h2>
                <button class="content__header_filter--toggle-complete"></button>
                <div class="content__header_filter--toggle-complete"></div>
            </header>
            <li class="content__item" v-for="(Task, index) in incompleteTasks" :key="Task.index">
                <h3 class="content__item_text" @click="showFullTask" v-if="fullTask && Task.description.length>8">{{ Task.description.slice(0, 25)+"..." }}</h3>             
                <h3 class="content__item_text" @click="showFullTask" v-else>{{ Task.description }}</h3>             
                <button class="content__item_button" @click="Task.completed = ! Task.completed"></button>
                <button class="content__item_button" @click="deleteTask(index)"></button>  
            </li>     
            <footer class="content__input">
                <div class="content__input_text">Voeg taak toe</div>
                <input class="content__input_field" type ="text" v-model="newTask" :disabled="!buttonEnabled"></input>
                <button class="content__input_button" @click="addTask"><p>Add Task</p></button>
            </footer>   
        </ul>    
    </article>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>
