:root{
    --content-bg-color: #fafafa;
    --content-text-color-primary: #393939;
    --content-text-color-secondary: #8c8c8c;
    --content-text-color-highlight: #fcba03;
}

html{
    font-size: 16px;
}

ul{
    list-style-type: none;
    padding:0;
    margin:0;
}

body h1,h2{
    font-family: 'Poppins', sans-serif;
}

body h3,p{
   font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 1.5rem;
}

h2{
    font-size:1rem;
}

h3,p{
    font-size:0.8rem;
}

#content{
    width:100vw;
    height:100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.5fr 0.5fr 2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 10px; 
    background: var(--content-bg-color); 
    text-align: center;
    align-items: center;
}

#content .title{
    grid-area: 1 / 1 / 2 / 5; 
    color: var(--content-text-color-primary); 
    animation-delay: 1s;
}

#content span{
    font-style:italic;
}

#content .title_under{
    grid-area: 2 / 2 / 3 / 4;
    color: var(--content-text-color-secondary); 
    animation-delay: 2s;
}

#content .result_list{
    grid-area: 3 / 2 / 4 / 4;
    animation-delay: 4s;
}

#content .result_text{
    color: var(--content-text-color-highlight); 
    font-size: 5rem;
}

#content .add_text{
    grid-area: 4 / 2 / 5 / 4; 
    color: var(--content-text-color-secondary); 
    animation-delay: 6s;
}

.input_wrapper{
    grid-area: 5 / 2 / 6 / 4;
    display:flex;
    justify-content: center;
    
}

#content .input_wrapper .add_inputField{
    grid-area: 5 / 2 / 6 / 4;
    margin-bottom:10px;
    animation-delay: 6s;
}

#content .input_wrapper .add_button{
    grid-area: 5 / 3 / 6 / 5;
    margin-bottom:10px;
    animation-delay: 6s;
}
