.header{
    // display: flex;
    // align-items: center;
    // justify-items: center;
    grid-area:hd;
    background-color:$content-bg-color-regular;

    &_title{
        margin-right:auto;
    }
}