.list{
    grid-area:list;
    padding: 0px 5%;
    background-color:$content-bg-color-light;

    &__item{
        // display: flex;
        // justify-content: flex-end;
        // align-items: center;
        word-break: break-all;

        &_text{
            color: $content-text-color-highlight; 
            margin-right: auto;
        }
    }
}


